h1{
    background-color: blue;
}
h3{
    color: brown;
}
a{
   ;
    margin: 20px;
    border:10px solid;
    border-radius:20px;
}
div{
   text-align: center;
   font-family: 'Courier New', Courier, monospace;
}