h1{
    background-color: blue;
}
h3{
    color: brown;
}
a{
   ;
    margin: 20px;
    border:20px solid;
    border-radius:40px;
}
div{
   text-align: center;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}